@import 'blog';

@import '~bulma/bulma';

@import '~font-awesome/css/font-awesome';

body {
  margin-top: 80px;
}

#mynav {
  border-bottom: 2px solid #f3f3f3;
}

#mybox{
  border-radius: 0;
  border: 1px solid #ddd;
  color: #333;
}


#mybtn {
  border-radius: 0;
  border: 0;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  white-space: normal;
  width: auto;
}